.upgrade-plan-form {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    color: white;
    width: 90%;
    margin: 0 auto;
}

.labelColor {
    color: white;
}

.paymentHeading {
    text-align: center;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
}

.form-control {
    color: white;
    width: 100%;
    height: 40px; /* Increased height for better appearance */
    padding: 10px;
    background-color: #000;  /* Set background to black */
    border: none; /* Remove border/underline */
    border-radius: 4px; /* Optional: Rounded corners */
    outline: none; /* Remove focus outline */
}

.form-control:focus {
    border: 1px solid #555; /* Optional: Add a border on focus */
}

.stripe-element {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}

.btn-block {
    width: 100%;
}
